* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right bottom, purple, white, pink);
  font-family: monospace;
}

.heading {
  font-size: 32px;
}

.card {
  /* Add shadows to create the "card" effect */
  background: linear-gradient(to left top, purple, white, pink);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 8px rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  width: 85%;
  max-width: 450px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0px 4px 10px 0px rgb(186, 143, 175);
}

.temp-container {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}

.input {
  font-family: monospace;
  width: 220px;
  float: right;
  padding: 5px;
  outline: none;
  font-size: 18px;
}
